<launch>
    <arg name="rviz_config_path" default="$(find navigators)/rviz/basic.rviz" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_path)" />

    <node pkg="navigators" type="basic.py" name="basic" output="screen" />
    <!-- <node pkg="navigators" type="mock_gps_data.py" name="mock_gps" output="screen" /> -->
</launch>